
/* CSS Style Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variable Declaration */

:root {
	--gray-accent: #ececec;
	--first-accent: #9fd3c7;
	--second-accent: #385170;
	--third-accent: #142d4c;
	--green-accent: #74992E;
}

/* Base Styling */

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--third-accent);
}

body, input {
    font-size: 16px;
    font-family: Garamond, sans-serif;
}

input, button { 
	padding: 0;
	border: none;
}

*:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

/* Header Styling */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--second-accent);
	padding: 1.25rem 2rem;
}

header .logo-container h1 {
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
}

header input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
}

header label {
	padding: 0.5rem 1rem;
	border: 2px solid transparent;
	border-radius: 999px;
	transition: 0.5s ease-in-out;
}

header label:hover {
    cursor: pointer;
	border-color: var(--green-accent);
}

header label:has(input:checked) {
    background-color: var(--green-accent);
}

header label:has(input:not(:checked)) {
    background-color: lightgray;
}

.search-form {
	display: flex;
	min-width: 30ch;
	padding: 0 1rem;

	background-color: var(--gray-accent);
	border: 1px solid transparent;
	border-radius: 999px;
	transition: 0.25s ease-in-out;
}

.search-form input {
	flex: 1 1 0;
	padding: 0.5rem 0;
	background-color: var(--gray-accent);
}

.search-form:has(input:focus), .search-form:has(input:hover) {
	border-color: black;
}

.search-form input::placeholder {
	color: gray;
}

.search-form button {
	display: flex;
	align-items: center;
	height: 34px;
	background-color: var(--gray-accent);
}

/* Main Content Styling */

/* Weather Info Styling */

.content-container .weather-info {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 2rem;
}

.content-container .weather-info .city-info {
	background-color: var(--gray-accent);
	padding: 2rem;
	line-height: 1.5;
}

.content-container .weather-info .city-info h1 {
	font-size: 1.25rem;
	font-weight: bold;
}

.content-container .weather-info .info-grid {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	grid-gap: 1rem;

	min-height: 300px;
	background-color: var(--gray-accent);
	padding: 2rem;
}

.content-container .weather-info .info-grid .info-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: var(--first-accent);
	background-color: var(--second-accent);
	padding: 1rem;
}

.content-container .weather-info .info-grid .info-item h2 {
	text-transform: capitalize;
	font-size: 1.25rem;
	font-weight: bold;
}